body {
  width: 1920px;
  height: 969px;
  margin: auto;
  font-family:Nirmala ui, sans-serif;
}
@font-face {
  font-family:Nirmala ui;
  src: url(../fonts/nirmala-ui-bold_2.ttf);
  /* font-family:Nirmala ui;
  src: url(../fonts/Nirmala-ui.ttf); */
}

.container {
  /* margin: 0 auto; */
  width: 1920px;
  height: 969px;
  background-image: url(../images/screenBody.jpg);
  
}

.all {
  display: flex;
}
.img_girl {
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: baseline;
}

.girl_left {
  padding: 70px 0px 0px 70px; 
}

.girl_right {
padding-left: 636px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  padding: 91px 0px 0px 410px;
}

.frame {
  margin: 0px;
  border: 1px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  width: 779px;
  height: 68px;
  border-radius: 40px;
  background-color: rgb(255 255 255 / 20%);
  font-size: 36px;
  color: #FFFFFF;
  font-weight: 300;
  font-family: '../fonts/Nirmala-ui.ttf', sans-serif;
}

.explore {
  padding-top: 20px;
  margin: 0;
  width: 1100px;
  font-weight: 700;
  font-size: 84px;
  line-height: 100.8px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #EB5D38, #FFD600);
  -webkit-background-clip: text;
  color: transparent;
  
  -webkit-text-stroke: 2px #FFFFFF;
}

.instead {
  padding-top: 40px;
  margin: 0;
  width: 1100px;
  color: #FFF2CE;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 39.2px;
  letter-spacing: 0.2em;
  text-align: center;
}

.button_variant {
  display: flex;
  padding-top: 90px;
}

  .button_one {
  font-weight: 700;
  border-radius: 10px;
  width: 323px;
  height: 84px;
  border: 2px solid #FFFFFF;
  font-size: 32px;
  text-transform: uppercase;
  background: transparent;
  
  
  cursor: pointer;
  color: #FFFFFF;
}

.button_one:hover {
  /* backdrop-filter: blur(20px); */
  background-color: rgba(56, 55, 55, 0.94);
  box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);

  /* background-color: hsla(0, 0%, 0%, 0.635); */
}



.button_two {
  font-weight: 700;
  border-radius: 10px;
  width: 323px;
  height: 84px;
  /* border: 2px solid #FFFFFF; */
  border: none;
  font-size: 32px;
  text-transform: uppercase;
  background: transparent;
  margin-left: 50px;
  
  
  cursor: pointer;
  color: #FFFFFF;
  background: linear-gradient(40deg, #FFE53B, #FF2525);
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.6);
}

.button_two:hover {
  /* backdrop-filter: blur(20px); */
  border: none;
  background-color: rgba(56, 55, 55, 0.94);
  /* box-shadow: 0px 0px 10px 2px rgb(0, 0, 0); */
  background: linear-gradient(40deg, #FFE53B, #FF2525);
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

#toggleSvgButton {
  background: url(../images/volume.svg);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 49px 74px 0px 1794px;
}


#toggleSvgButtonThree {
  background: url(../images/volume.svg);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 48px 74px 0px 179px;
}


.img_girl_Two {
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: baseline;
}


.girl_left_Two {
  padding: 52px 0px 0px 39px;
}

.girl_right_Two {
  padding: 0px 0px 0px 764px;
}

.content_Two {
  z-index: 1;
  padding: 157px 0px 0px 568px;
}

.warning {
margin: 0;
width: 785px;
font-weight: 700;
font-size: 120px;
line-height: 120px;
text-align: center;
text-transform: uppercase;
background: linear-gradient(to right, #EB5D38, #FFD600);
-webkit-background-clip: text;
color: transparent;
-webkit-text-stroke: 2px #FFFFFF;
}

.you_must {
  padding-top: 40px;
  font-weight: 400;
  width: 785px;
  color: #FFFFFF;
  text-align: center;
  font-size: 32px;
  line-height: 44.8px;
  margin: 0;
  font-family: '../fonts/Nirmala-ui.ttf', sans-serif;
}

.button_two_continue {
  font-weight: 700;
  border-radius: 10px;
  width: 463px;
  /* border: 2px solid #FFFFFF; */
  font-size: 32px;
  text-transform: uppercase;
  height: 84px;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  /* background-color: rgba(56, 55, 55, 0.94); */
  box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
  background: linear-gradient(40deg, #FFE53B, #FF2525);
}

.style_button {
  padding: 120px 0px 0px 161px;
}

.button_two_continue:hover {
  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
}

.header {
  display: flex;
  align-items: flex-start;
}

.who {
  margin: 0;
  padding: 35px 0px 0px 305px;
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #EB5D38, #FFD600);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px #FFFFFF;
}

.center {
  padding: 43px 0px 0px 0px;
  display: flex;
  /* align-items: center; */
  /* width: 463px; */
}

.arrow_Left {
padding: 245px 0px 191px 345px;
}

.group_24 {
  padding: 0px 0px 0px 250px;
}

.arrow_Right {
  padding: 245px 0px 191px 250px;
  }

  .button_Three {
  font-weight: 700;
  border-radius: 10px;
  width: 463px;
  /* border: 2px solid #FFFFFF; */
  font-size: 32px;
  text-transform: uppercase;
  height: 84px;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  line-height: 32px;
  /* background-color: rgba(56, 55, 55, 0.94); */
  box-shadow: 0px 0px 10px 2px rgb(255, 255, 255);
  background: linear-gradient(40deg, #FFE53B, #FF2525);
  }

  .button_Three:focus {
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);

  }

  .style_button_three {
  display: flex;
  justify-content: center;
  padding: 57px 0px 0px 0px;
  }